body {
	font-family: Helvetica, sans-serif;
}

#main {
	width: 35%;
	margin: 0 auto;
	margin-top: 60px;
	border: 3px dashed lightgrey;
	padding: 15px;
}

#main h2 {
	text-align: center;
}

.inner {
	width: 65%;
	margin: 0 auto;
}

.adopted-true {
  text-decoration: line-through;
  color: lightblue;
}

img {
	border: 1px solid lightblue;
}